.App {
  text-align: center;
  margin-top: 30px;
}

.randomNumber{
  display:flex;
  margin-left: 29%;
}
.randomNumber p{
  padding: 20px;
  margin: 20px;
  border: 3px solid black;
  border-radius: 50%;
}